body {
    padding: 0 24vw;
    margin: 0 auto 0;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","Hiragino Sans GB",Arial,sans-serif;
    font-size: 3vw;
    line-height: 1.42857143;
    background: #eeeeee;
}

.content {
  margin-bottom: 16vmin;
  width: 100%;
  display: block;
}

article { display: block; }

header h1 {
        font-size: 360%;
        font-weight: 700;
        letter-spacing: -.04em;
        margin-left: -2px;
        line-height: 1.1;
        margin-bottom: -.1em;
}


#subtitle h2 { font-weight: normal; margin: 0; padding: 0; }

#twitter a { color: #00aced; text-decoration: none; }
#twitter a:hover { text-decoration: underline; }
#austin a { color: #bf5700; text-decoration: none }
#austin a:hover {  text-decoration: underline; }

#contact a { color: #ff0000; text-decoration: none;}
#contact a:hover { text-decoration: underline; }

.content form input {
    display: block;
    width: 100%;
    padding: 1vmin 0;
    margin: 0 0 1.8rem;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
    border-radius: 0;
    outline: 0;
    transition: padding .2s ease;
}


input {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
